@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: rgb(24, 24, 24);
}


.container {
    max-height: 500px;
    max-width: 340px;
    border: 1px solid rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    padding: 5px;
    
}

.box {
    height: 13px;
    width: 13px;
    border: 1px solid black;
    background: rgba(41, 41, 41, 0.87);
    filter: brightness(1.2);
}

