@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	box-sizing: border-box;
}

body{
	background-color: #fafafa;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

.magic{
	background-color: #4e4c56;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	border: 0;
	border-radius: 3px;
	font-size: 16px;
	padding: 12px 20px;
	cursor: pointer;
	position: fixed;
	top: 20px;
	letter-spacing: 1px;
	box-shadow: 0 3px rgba(249,202,36,0.5);
	z-index: 100;
}

.magic:focus{
	outline: none;
}

.magic:active{
	box-shadow: none;
	transform: translateX(2px);
}

.boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 500px;
	width: 500px;
	position: relative;
	transition: 0.4s ease;
}

.boxes.big{
	width: 600px;
	height: 600px;
}

.boxes.big .box{
	transform: rotateZ(360deg);
}

.box{
	background-image: url('img1.gif');
	background-repeat: no-repeat;
	background-size: 500px 500px;
	position: relative;
	height: 125px;
	width: 125px;
	transition: 0.4s ease;
}

.box::before,
.box::after {
    content: '';
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.box::before {
    bottom: -10px;
    right: -15px;
    width: 13px;
    height: 127px;
    transform: skewY(45deg);
    background: rgb(255, 196, 86);
    border: 1px solid rgba(0, 0, 0, 0);
}

.box::after {
    top: 125px;
    left: 7px;
    width: 124px;
    height: 15px;
    transform: skewX(42deg);
    background: orange;
    border: 1px solid rgba(0, 0, 0, 0);
}

