@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    background: rgb(164, 92, 231);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box {
    height: 4.5%;
    width: 10%;
    border-radius: 3px;
    background: rgb(102, 46, 155);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
    font-size: 80%;
}

.box:hover {
    background: rgb(113, 53, 168);
}

h4 {
    object-fit: contain;
}